* {
    
    font-family: "KyivTypeTitling";  
    box-sizing: border-box;

}

body {

    margin: 0;
    transition: all 0.3s ease;

}


.header-block__h1 {

    position: absolute;
    color: rgb(230, 118, 118);
    left: 50%;
    text-shadow: -3px 4px 6px #e6d9d9e3;

    }  

.header-block {
    
    margin-top: 0;
    background-image: url(./thanos-pal-qEEBmRCRSJI-unsplash\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
    height: 100px;
    
}

.column-left {

    border-right: 2px solid rgb(236, 135, 135);
    padding: 10px;
    width: 20%;
    margin-right: 30px;
    margin-top: 30px;
    position: fixed;
    min-width: 70px;
    

}

a {

    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
    left: 50%;
    font-size: large;

}

.book {

    width: 70%;
    margin: 0px 20px 20px 20px;
    position: relative;
    left: 20%;

}


.book-symbol {

    background-color: rgb(255, 193, 193);
    position: sticky;
    top: 0px;
    z-index: 1;
    border-top: 40px solid rgb(233, 103, 103);

}

.book-box__items {

    list-style: none;

}

@font-face {
    font-family: "KyivTypeTitling"; 
    src: url("./KyivTypeTitling-VarGX.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

    